// Theme variables
$purple: #927adb;
$purple-alt: #b2a3e0;

$blue: #6fb4e6;
$blue-alt: #9ad4ff;

$green: #7bdbb3;
$green-alt: #a4f7d4;

$yellow: #F7D87E;
$yellow-alt: #fae7ae;

$orange: #F78181;
$orange-alt: #F79F81;

$dark-grey: #5a5a5a;

// Section themes
$summary-color: $orange;
$skills-color: $purple;
$projects-color: $blue;
$contact-color: $green;



body {font-family: 'Open Sans', sans-serif; color:$dark-grey}


// General styles
.banner{

    &.container{width:100%; padding: 35px 20px 50px 20px; text-align: center;}

    .col-sm-12{text-align: center;}
    
    h1, h2, h3, h4{text-align: center; line-height: 1.385; color: #FFF; font-weight: 500;}

}


// Section specific styles

#introduction{
    
    .container{width:100%; background-color: #5a5a5a; color:white; text-align: center;}
    
    .col-md-3{text-align: left;}
    
    h1{font-size: 38px; font-weight: 800; margin-bottom: 20px;}
    
    p{font-size: 25px; font-weight: 700;}

}
    

#summary {
    
    .banner {background-color: $summary-color;}
    
    .col-lg-3{   
        .fa{color:$summary-color;}
        padding: 30px 30px 30px 30px; text-align: center;
    }
    
    p{font-size:17px;}

}


#skills{
    
    .banner.container {background-color: $skills-color;}

    .container:not(.banner){min-width: 80%; max-width: 90%;}
    
    .col-xs-4{text-align: center; padding:30px 0 30px 0;}
    
    .col-xs-8{text-align: left; padding:30px 0 30px 0;}

    .fa{color:$skills-color;}
    
    a {
        color:$skills-color;
        font-weight:bold;
        &:hover{color:$purple-alt;text-decoration:none;}
    }

}



#projects {
    .banner.container {background-color: $projects-color;}
}
    
#hobbies {
    .banner.container {background-color: $green;}
}

#contact {
    .banner.container {background-color: $contact-color;}
}


// Mobile devices
@media (max-width: 786px){
    
}

// Larger devices
@media (min-width: 768px){
    .banner h1, .banner h2, .banner h3, .banner h4 {padding: 0 50px 0 50px;}
    
    #summary .container{width: 100%; padding-left:100px; padding-right:100px;}
}