// Theme variables
$purple: #927adb;
$purple-alt: #b2a3e0;

$blue: #6fb4e6;
$blue-alt: #9ad4ff;

$green: #7bdbb3;
$green-alt: #81c1a6;

$yellow: #F7D87E;
$yellow-alt: #fae7ae;

$orange: #F78181;
$orange-alt: #F79F81;

$dark-grey: #2a2a2a;
$darkish-grey: #5e5e5e;
$lighter-grey: #515151;
$light-grey: #919191;

// Section themes
$summary-color: $orange;
$skills-color: $purple;
$projects-color: $blue;
$contact-color: $green;



body {font-family: 'Open Sans', sans-serif; color:$darkish-grey}


// General styles
.banner{

    &.container{width:100%; padding: 35px 20px 50px 20px; text-align: center;}

    .col-sm-12{text-align: center;}

    h1, h2, h3, h4{text-align: center; line-height: 1.385; color: #FFF; font-weight: 500;}

}


// Section specific styles

#introduction{

    .container{width:100%; background-color: $dark-grey; color:white; text-align:center; padding: 100px 0 100px 0;}

    .col-sm-6{
        padding:0 50px 0 50px;
        &:first-child{text-align: right;}
        &:last-child{text-align:left;}
    }

    h1{font-size: 45px; font-weight: 400; margin: -4px 0 20px; }

    p{font-size: 25px; color:$lighter-grey;  line-height: 200%;}

    .photo{width:140px; height: 140px; background-color: $lighter-grey; border-radius: 50%;
        background-size: 140px;
        background-repeat: no-repeat;
        background-position: 50% 20%;
        background-image: url('../images/selfie-strange.jpg');
        margin:5px 0 30px 0;
    }

    .fa-stack{color: $dark-grey;
        &:not(#yelp){margin-right: 15px;}
        .fa-github, .fa-circle{color: $lighter-grey;}
        .fa-github{font-size:55px;
            &:hover{color:$purple;}
        }

        &#linkedin:hover .fa-circle {color: $green;}

        &#facebook:hover .fa-circle {color: $blue;}

        &#yelp:hover .fa-circle {color: $orange;}


    }

}


#summary {

    .container:not(.banner){min-height:35%;}

    .banner {background-color: $summary-color;}

    .col-lg-3{
        .fa{color:$summary-color;}
        padding: 30px 20px 30px 20px;
        text-align:center;
    }

    .right{text-align: right;}
    .left{text-align: left; }

    p{font-size:17px;}

    h4{ font-size: 24px;}

}


#skills{

    .banner.container {background-color: $skills-color;}

    .container:not(.banner){min-width: 60%; max-width: 90%; text-align: center;}

    // hr{width: 50px;}

    .col-sm-5{text-align: right; padding:30px 0 30px 0;
        h1 {}
        h4 {font-size:15; color:$skills-color;}
        a, p {font-size: 20px;line-height: 200%;}
    }

    .col-sm-7{text-align: left; padding:30px 0 30px 10%;}

    .fa{color:$skills-color;}



    a {
        color:$skills-color;
        // font-weight:bold;
        // margin-top:-20px;;
        &:hover{color:$purple-alt;text-decoration:none;}
    }

}



#projects {
    .banner.container {background-color: $projects-color;}
}

#hobbies {
    .banner.container {background-color: $green;}
}

#contact {background-color: $dark-grey;
    .banner.container {background-color: $contact-color;}
    .col-sm-10{text-align: center;
        h3{padding:30px 0 0 0;}
        h2{padding:0 0 50px 0;}
    }

    .col-sm-6{text-align: center; padding-bottom: 75px;
        .form-control{
            background-color: $dark-grey;
            border-color:$lighter-grey;
            border-radius: 3px;
            color:$light-grey;
            &:focus{box-shadow: none; background-color: $lighter-grey; color:#fff;}
            &#name, &#email{height: 45px;}
            &#content {resize: vertical;}
        }
        .btn{
            height:40px;
            min-width: 100%;
            font-size: 15px;
            text-transform: uppercase;
            color:$contact-color;
            background-color: $dark-grey;
            border: 1px solid $darkish-grey;
            &:hover{color:#fff;background-color: $contact-color;border-color: $contact-color;}
            &:focus{outline: none;}
        }

    }
}

#footer{
    background-color: $dark-grey;
    color:$light-grey;
    text-align: center;
    padding-bottom: 30px;

    a{color:$contact-color; &:hover{text-decoration: none; color:$green-alt;}}

}

// Mobile devices
@media (max-width: 786px){
    #introduction .col-sm-6 {
        .photo{display: inline-block;};
        &:first-child{text-align:center;}
        &:last-child{text-align:center;}
    }
    #skills .col-sm-5 {text-align: left; padding-left: 10%;}
}

// Larger devices
@media (min-width: 768px){
    .banner h1, .banner h2, .banner h3, .banner h4 {padding: 0 50px 0 50px;}

    #summary .container{width: 100%; padding-left:100px; padding-right:100px;}
}
