html
    head
        meta(charset = "utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Muhsin King | Portfolio
        
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext', rel='stylesheet', type='text/css')
        link(href="bootstrap/css/bootstrap.css", rel="stylesheet")
        link(href="fonts/font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animations.css", rel="stylesheet")
        //link(href="css/style.css", rel="stylesheet")
        link(href="css/app.css", rel="stylesheet")

        
        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        
    body
        section#introduction
            .container
                .row
                    .col-sm-6
                        h1 Muhsin King
                        p Web Developer
                        p Software Engineer
                        p Robotics Researcher
                    .col-sm-6
                        .row
                            .photo    
                        .row
                            a(href = "#")
                                .fa-stack.fa-2x
                                    .fa.fa-github.fa-2x
                            a(href = "#")
                                #linkedin.fa-stack.fa-2x
                                    .fa.fa-circle.fa-stack-2x
                                    .fa.fa-linkedin.fa-stack-1x
                            a(href = "#")
                                #facebook.fa-stack.fa-2x
                                    .fa.fa-circle.fa-stack-2x
                                    .fa.fa-facebook.fa-stack-1x
                            a(href = "#")
                                #yelp.fa-stack.fa-2x
                                    .fa.fa-circle.fa-stack-2x
                                    .fa.fa-yelp.fa-stack-1x

                        
        section#summary
            .banner.container
                .row
                    .col-sm-12
                        h1 Nice to meet you.
            .container
                .row
                    .col-lg-3
                        i.fa.fa-mortar-board.fa-4x
                        h4 Student
                        p 
                            | I currently attend
                            b  Bard College 
                            | in upstate New York. I expect to graduate with a Bachelor of Arts degree in Computer Science in May of 2016.
                    .col-lg-3
                        i.fa.fa-code-fork.fa-4x
                        h4 Software Engineer
                        p 
                            | Creating software has been my passion since I started 5 years ago. I'm an experienced programmer, developing desktop and mobile applications for
                            b  Android, iOS, MacOS, 
                            | and
                            b  Linux.
                            
                    .col-lg-3
                        i.fa.fa-code.fa-4x
                        h4 Web Developer
                        p 
                            | I'm a self-taught web developer. In my free time I create websites like this one, using cutting-edge
                            b  Frontend 
                            | and
                            b  Backend 
                            |technologies.
                            
                    .col-lg-3
                        i.fa.fa-cogs.fa-4x
                        h4 Robotics Researcher
                        p 
                            | I've worked in robotics labs at
                            b  Bard College, Georgia Tech, 
                            | and
                            b  Marquette University, 
                            | programming controllers for quadcopters, humanoids, and turtlebots, using the
                            b  ROS 
                            | framework or designing my own.
                        
            
        section#skills
            .banner.container
                .row
                    .col-sm-12
                        h1 Broad interests, specialized skills.
            .container
                .row
                    .col-sm-5
                        h1 Web programming
                        hr
                        h4 Frontend
                        p HTML/Sass + CSS/Jade
                        
                        h4 Backend
                        p Node.js + ExpressJS    
                                        
                        h4 Frameworks
                        p AngularJS + jQuery
        
                        

                    .col-sm-7
                        h4 I can help you build web applications
                        p lorem ipsum whatever lorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whateverlorem ipsum whatever    
                .row    
                    .col-sm-5
                        h1 Application programming
                        hr 
                        p 
                            | Java + Python + Objective-C + C++
                            br
                            | Mobile apps for iOS &amp; Android
                            br 
                            a(href = "https://github.com/muhsinking") Source control
                        
                    .col-sm-7
                        h4 I can help you build regular applications
                        p lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus lorem ipsum donkus 
                .row
                    .col-sm-5
                        h1 I can design...
                        hr
                        p
                            | Responsive websites
                            br
                            | User interfaces
                            br
                            | Presentations
                            br
                            | Logos
                            
                
                
        //section#projects
            .banner.container
                .row
                    .col-sm-12
                        h1 Have a look at some of my projects.
                            
        //section#hobbies
            .banner.container
                .row
                    .col-sm-12
                        h1 What about when I'm away from the desk?
                        h3 When I'm away from the desk, I love to run, bike, and swim (sometimes all three in the same afternoon). I also love video games, as well as traditional games like Dungeons and Dragons.
                        
        section#contact
            .banner.container
                .row
                    .col-sm-12
                        h1 Let's work together.
                        h3 I'm looking for interesting projects or organizations to with after I graduate. If you think I'd be a good fit for you team, shoot me a message!
            .container
                .row
                    .col-sm-6
                        .form-group
                            label.sr-only(for = "name") Name
                            input#name(type = "text", name = "name", placeholder = "Name")
                        .form-group
                            label.sr-only(for = "email") Email
                            input#email(type = "email", name = "email", placeholder = "Email")
                        .form-group
                            textarea#content(name = "content", rows = "7", placeholder = "Message")
                        button#send_email.btn.btn-default
                            span#message Send
        
        
        
        
        script(type="text/javascript", src="plugins/jquery.min.js")
        script(type="text/javascript", src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="plugins/modernizr.js")
        script(type="text/javascript", src="plugins/isotope/isotope.pkgd.min.js")
        script(type="text/javascript", src="plugins/jquery.backstretch.min.js")
        script(type="text/javascript", src="plugins/jquery.appear.js")
        script(type="text/javascript", src="js/template.js")
        script(type="text/javascript", src = "js/sendcontact.js")
