html
    head
        meta(charset = "utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Muhsinking King | Portfolio
        
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext', rel='stylesheet', type='text/css')
        link(href="bootstrap/css/bootstrap.css", rel="stylesheet")
        link(href="fonts/font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animations.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        
    body
        p whatever
        .header-caption
            .container
                .row
                    p whatever
                    .col-m8-8.col-md-offset-2.object-non-visible(data-animation-effect="fadeIn")
                        h1.text-center Muhsin King
                        
                        
                        
        
        
        
        script(type="text/javascript", src="plugins/jquery.min.js")
        script(type="text/javascript", src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="plugins/modernizr.js")
        script(type="text/javascript", src="plugins/isotope/isotope.pkgd.min.js")
        script(type="text/javascript", src="plugins/jquery.backstretch.min.js")
        script(type="text/javascript", src="plugins/jquery.appear.js")
        script(type="text/javascript", src="js/template.js")
        script(type="text/javascript", src = "js/sendcontact.js")