html {
  width: auto !important;
  overflow-x: hidden !important; }

body {
  font-family: "Open Sans", sans-serif;
  color: #6e6e6e; }

* {
  -webkit-overflow-scrolling: touch; }

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.hex-tile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .1;
  background-image: url("../images/hex-tile.png");
  background-attachment: fixed;
  background-size: 94px 54px; }

.banner.container {
  width: 100%;
  padding: 45px 0px 60px 0px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.5); }
  .banner.container .hex-tile {
    opacity: 0; }
  .banner.container#summary {
    -webkit-box-shadow: 0px -3px 25px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -3px 25px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 25px 3px rgba(0, 0, 0, 0.75); }
  .banner.container#contact {
    -webkit-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.75); }
  .banner.container .row {
    z-index: 2;
    position: relative; }
    .banner.container .row .col-sm-12 {
      text-align: center; }
      .banner.container .row .col-sm-12 h1 {
        text-align: center;
        line-height: 1.385;
        color: #FFF;
        font-weight: 400;
        font-family: "Open Sans", sans-serif; }

#introduction {
  text-shadow: 0px 8px 12px black; }
  #introduction .container {
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 150px 0 150px 0;
    position: relative; }
  #introduction .col-sm-6 {
    z-index: 2;
    padding: 0 50px 0 50px; }
    #introduction .col-sm-6:first-child {
      text-align: right; }
    #introduction .col-sm-6:last-child {
      text-align: left; }
  #introduction h1 {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    margin: 10px 0 20px;
    text-transform: uppercase; }
  #introduction p {
    font-size: 25px;
    color: #515151;
    font-family: "Ubuntu", sans-serif;
    line-height: 180%; }
  #introduction .photo {
    width: 140px;
    height: 140px;
    background-color: #515151;
    border-radius: 50%;
    margin: 5px 0 30px 0;
    -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-image: url("../images/selfie-strange.jpg"); }
  #introduction .fa-stack {
    color: #2a2a2a; }
    #introduction .fa-stack .fa-stack-1x {
      text-shadow: none; }
    #introduction .fa-stack .fa-github, #introduction .fa-stack .fa-circle {
      color: #515151; }
    #introduction .fa-stack .fa-github {
      font-size: 55px; }
      #introduction .fa-stack .fa-github:hover {
        color: #927adb; }
    #introduction .fa-stack#github {
      margin-right: 14px;
      padding-left: 4px; }
    #introduction .fa-stack#mail, #introduction .fa-stack#facebook {
      margin-right: 15px; }
    #introduction .fa-stack#linkedin:hover .fa-circle {
      color: #7bdbb3; }
    #introduction .fa-stack#facebook:hover .fa-circle {
      color: #6fb4e6; }
    #introduction .fa-stack#mail:hover .fa-circle {
      color: #F78181; }

#summary .banner {
  background-color: #F78181; }

#summary .col-lg-3 {
  padding: 3% 20px 3% 20px;
  text-align: center; }
  #summary .col-lg-3 .fa {
    color: #F78181; }

#summary .right {
  text-align: right; }

#summary .left {
  text-align: left; }

#summary p {
  font-size: 17px;
  line-height: 200%; }

#summary h4 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

#skills .fa {
  color: #927adb; }

#skills a {
  color: #927adb; }
  #skills a:hover {
    color: #b2a3e0;
    text-decoration: none; }

#skills .banner.container {
  background-color: #927adb; }

#skills .container:not(.banner) {
  min-width: 80%;
  max-width: 95%;
  text-align: center; }

#skills .col-sm-5 {
  text-align: right;
  padding: 30px 0 30px 0; }
  #skills .col-sm-5 h1 {
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    font-weight: 300; }
  #skills .col-sm-5 h4 {
    font-size: 15;
    color: #927adb;
    font-family: "Open Sans", sans-serif; }
  #skills .col-sm-5 a, #skills .col-sm-5 p {
    font-size: 20px;
    line-height: 200%;
    font-family: "Ubuntu", sans-serif; }

#skills .col-sm-7 {
  text-align: left;
  padding: 30px 0 30px 6%; }
  #skills .col-sm-7 h4 {
    font-size: 28px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  #skills .col-sm-7 .col-xs-1 {
    text-align: center; }
    #skills .col-sm-7 .col-xs-1 i {
      margin: 5px 0 0;
      font-size: 18px; }
  #skills .col-sm-7 .col-xs-11 p {
    font-size: 18px;
    padding-bottom: 20px; }

#projects .banner.container {
  background-color: #6fb4e6; }

#hobbies .banner.container {
  background-color: #7bdbb3; }

#contact {
  background-color: #2a2a2a; }
  #contact .banner.container {
    background-color: #7bdbb3; }
  #contact .col-sm-10 {
    z-index: 1;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 8px 12px black; }
    #contact .col-sm-10 h3 {
      padding: 30px 0 0 0; }
    #contact .col-sm-10 h2 {
      padding: 0 0 50px 0; }
  #contact #cont.container {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0 0 50px 0; }
  #contact .col-lg-6 {
    text-align: center;
    padding-bottom: 75px;
    z-index: 1; }
    #contact .col-lg-6 .form-control {
      text-shadow: 0px 8px 12px black;
      background-color: transparent;
      border-color: #515151;
      border-radius: 3px;
      color: #919191; }
      #contact .col-lg-6 .form-control:focus {
        text-shadow: none;
        -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
        background-color: #515151;
        color: #fff; }
      #contact .col-lg-6 .form-control#name, #contact .col-lg-6 .form-control#email {
        height: 45px; }
      #contact .col-lg-6 .form-control#content {
        resize: vertical; }
    #contact .col-lg-6 .btn {
      height: 40px;
      min-width: 100%;
      font-size: 15px;
      text-transform: uppercase;
      text-shadow: 0px 8px 12px black;
      color: #7bdbb3;
      background-color: transparent;
      border: 1px solid #6e6e6e; }
      #contact .col-lg-6 .btn:hover {
        text-shadow: none;
        color: #fff;
        background-color: #7bdbb3;
        border-color: #7bdbb3;
        -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.75); }
      #contact .col-lg-6 .btn:focus {
        outline: none; }
  #contact .col-sm-4 {
    text-shadow: 0px 8px 12px black;
    text-align: center;
    z-index: 1; }
    #contact .col-sm-4 a {
      color: #7bdbb3; }
      #contact .col-sm-4 a:hover {
        text-decoration: none;
        color: #81c1a6; }

@media (max-width: 786px) {
  #introduction .col-sm-6 .photo {
    display: inline-block; }
  #introduction .col-sm-6:first-child {
    text-align: center; }
  #introduction .col-sm-6:last-child {
    text-align: center; }
  #skills .col-sm-5 {
    text-align: left;
    padding-left: 6%; }
    #skills .col-sm-5 p, #skills .col-sm-5 h4 {
      padding-left: 8%; }
  #skills .col-sm-7 .col-xs-11 {
    padding-bottom: 5px; }
  #skills .col-sm-7 .fa {
    opacity: 0; } }

@media (min-width: 768px) {
  .banner h1, .banner h2, .banner h3, .banner h4 {
    padding: 0; }
  #summary .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; } }
