body {
  font-family: 'Open Sans', sans-serif; }

.banner h1, h2, h3, h4 {
  color: white;
  font-weight: 800; }

.banner .container {
  min-height: 20%;
  width: 100%;
  position: relative;
  overflow-y: hidden; }

.banner .row {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

#introduction .container {
  min-height: 30%; }

#summary .banner .container {
  background-color: #F78181; }

#skills .banner .container {
  background-color: #F7D87E; }

#projects .banner .container {
  background-color: #7EF7C4; }

#hobbies .banner .container {
  background-color: #7EC4F7; }

#contact .banner .container {
  background-color: #9C7EF7; }
